body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    margin: 20px;
}

aside {
    width: 200px;
    margin-right: 20px;
}

main {
    flex-grow: 1;
}

.search-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #2E2E2E;
    color: white;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

#category-list {
    list-style: none;
    padding: 0;
}

#category-list li {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

#category-list li:hover {
    background-color: #45A049;
    transform: scale(1.05);
}

.category {
    display: none;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.app-item {
    padding: 12px;
    margin: 10px 0;
    background-color: #F8F9FA;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.app-item:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
}

/* Mode sombre */
.dark-mode {
    background-color: #222;
    color: #ddd;
}

.dark-mode .category,
.dark-mode .app-item {
    background-color: #333;
    color: #ddd;
}

.dark-mode header,
.dark-mode footer {
    background-color: #2C3E50;
}

.dark-mode #search {
    background-color: #444;
    color: white;
    border: 1px solid #666;
}